<div class="well">
    <%= form_for(@customer, html: { class: "form-horizontal" }) do |f| %>
    <fieldset>
      <legend>登録・編集</legend>
        <% if @customer.errors.present? %>
           <%= alert %>
           <% @customer.errors.full_messages.each do |full_message| %>
             <%= full_message %>
          <% end %>
        <% end %>

      <div class="form-group">
        <label for="kubun" class="col col-xs-12 col-sm-4 col-md-3 control-label">区分</label>
        <div class="col-xs-12 colcol-xs-10 col-sm-6 col-md-7">
          <div class="input-group">
            <%= f.collection_select :kubun_id, Kubun.all, :id, :name, {prompt: true}, {class: "form-control"} %>
          </div>
        </div>
        <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-2"></div>
      </div>
      <div class="form-group">
        <label for="maildm" class="col col-xs-12 col-sm-4 col-md-3 control-label">許可項目</label>
        <div class="col-xs-12 colcol-xs-10 col-sm-6 col-md-7">
          <div class="input-group">
            <%= f.collection_check_boxes(:maildm_ids, Maildm.all, :id, :name) do |b| %>
              <div class="checkbox-inline">
                <%= b.label{b.check_box + " " + b.text } %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-2"></div>
      </div>
      <div class="form-group">
          <label for="groupcus" class="col col-xs-12 col-sm-4 col-md-3 control-label">所属</label>
          <div class="col col-xs-5 col-sm-3 col-md-3">
            <%= f.text_field :groupcus, class: 'form-control', placeholder: '会社名またはグループ名' %>
          </div>
          <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-3"></div>
        </div>
        <div class="form-group">
          <label for="name" class="col col-xs-12 col-sm-4 col-md-3 control-label">お名前</label>
          <div class="col col-xs-5 col-sm-3 col-md-3">
            <%= f.text_field :name1, class: 'form-control', placeholder: '姓' %>
          </div>
          <div class="col col-xs-5 col-sm-3 col-md-3">
            <%= f.text_field :name2, class: 'form-control', placeholder: '名' %>
          </div>
          <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-3"></div>
        </div>
      
      <div class="form-group">
        <label for="kana" class="col-xs-12 col col-sm-4 col-md-3 control-label">お名前（フリガナ）</label>
        <div class="col col-xs-5 col-sm-3 col-md-3">
          <%= f.text_field :kana1, class: 'form-control', placeholder: 'セイ' %>
        </div>
        <div class="col col-xs-5 col-sm-3 col-md-3">
          <%= f.text_field :kana2, class: 'form-control', placeholder: 'メイ' %>
        </div>
        <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-3"></div>
      </div>
      <div class="form-group">
        <label for="zipcode" class="col col-xs-12 col-sm-4 col-md-3 control-label">郵便番号</label>
        <div class="col col-xs-7 col-sm-4 col-md-4">
          <div class="input-group">
            <span class="input-group-addon">〒</span>
            <%= f.text_field :zip, class: 'form-control', placeholder: '0000000（-ハイフン不要）' %>
          </div>
        </div>
        <div class="col-xs-offset-5 col-sm-offset-4 col-md-offset-5"></div>
      </div>
      <div class="form-group">
        <label for="pref" class="col col-xs-12 col-sm-4 col-md-3 control-label">住所</label>
        <div class="col col-xs-7 col-sm-4 col-md-3">
            
          <%= f.select :address1, [["北海道", "北海道"], ["青森県", "青森県"], ["岩手県", "岩手県"], ["宮城県", "宮城県"], ["秋田県", "秋田県"], ["山形県", "山形県"], ["福島県", "福島県"], ["茨城県", "茨城県"], ["栃木県", "栃木県"], ["群馬県", "群馬県"], ["埼玉県", "埼玉県"], ["千葉県", "千葉県"], ["東京都", "東京都"], ["神奈川県", "神奈川県"], ["新潟県", "新潟県"], ["山梨県", "山梨県"], ["長野県", "長野県"], ["長野県", "長野県"], ["石川県", "石川県"], ["福井県", "福井県"], ["岐阜県", "岐阜県"], ["静岡県", "静岡県"], ["愛知県", "愛知県"], ["三重県", "三重県"], ["滋賀県", "滋賀県"], ["京都府", "京都府"], ["大阪府", "大阪府"], ["兵庫県", "兵庫県"], ["奈良県", "奈良県"], ["和歌山県", "和歌山県"], ["鳥取県", "鳥取県"], ["島根県", "島根県"], ["岡山県", "岡山県"], ["広島県", "広島県"], ["山口県", "山口県"], ["徳島県", "徳島県"], ["香川県", "香川県"], ["愛媛県", "愛媛県"], ["高知県", "高知県"], ["福岡県", "福岡県"], ["佐賀県", "佐賀県"], ["長崎県", "長崎県"], ["熊本県", "熊本県"], ["大分県", "大分県"], ["宮崎県", "宮崎県"], ["鹿児島県", "鹿児島県"], ["沖縄県", "沖縄県"]],  :prompt =>"都道府県を選択してください。" %>

        </div>
        <div class="col-xs-offset-5 col-sm-offset-4 col-md-offset-6"></div>
      </div>
      <div class="form-group">
        <div class="col col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3">
          <%= f.text_field :address2, class: 'form-control', placeholder: '市町村' %>
              <p class="help-block">住所は2つに分けてご記入ください。</p>
          <%= f.text_field :address3, class: 'form-control', placeholder: '番地・マンション名等' %>
              <p class="help-block">マンション名は必ず記入してください。</p>
        </div>
      </div>
      <div class="form-group">
        <label for="tel" class="col col-xs-12 col-sm-4 col-md-3 control-label">電話番号</label>
        <div class="col-xs-12 col col-xs-10 col-sm-6 col-md-7">
          <div class="input-group">
            <%= f.text_field :tel1, class: 'form-control', placeholder: '0775227666' %>
          </div>
        </div>
        <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-2"></div>
      </div>
      <div class="form-group">
          <label for="tel" class="col col-xs-12 col-sm-4 col-md-3 control-label">携帯電話</label>
          <div class="col col-xs-12 col-xs-10 col-sm-6 col-md-7">
              <div class="input-group">
                  <%= f.text_field :tel2, class: 'form-control', placeholder: '08012345678' %>
                  <p class="help-block">（例:08012345678）</p>
              </div>
          </div>
          <div class="col-xs-offset-0 col-sm-offset-2 col-md-offset-2"></div>
        </div>
        <div class="form-group">
          <label for="tel" class="col col-xs-12 col-sm-4 col-md-3 control-label">FAX番号</label>
          <div class="col col-xs-12 col-xs-10 col-sm-6 col-md-7">
              <div class="input-group">
                  <%= f.text_field :fax, class: 'form-control', placeholder: '0771235678' %>
                  <p class="help-block">（例:07712345678）</p>
              </div>
          </div>
          <div class="col-xs-offset-0 col-sm-offset-2 col-md-offset-2"></div>
        </div>
      <div class="form-group">
        <label for="email" class="col col-xs-12 col-sm-4 col-md-3 control-label">メールアドレス</label>
        <div class="col col-xs-12 col-sm-6 col-md-7">
            <%= f.text_field :email, class: 'form-control', placeholder: 'メールアドレスを入力してください' %>
        </div>
        <div class="col-xs-offset-0 col-sm-offset-2 col-md-offset-2"></div>
      </div>
      <div class="form-group">
          <label for="danjo" class="col col-xs-12 col-sm-4 col-md-3 control-label">男・女</label>
          <div class="col col-xs-5 col-sm-3 col-md-3">
            
            <label>
                <%= f.radio_button :danjo, "1" %> 男 
            </label>
            <label>
                <%= f.radio_button :danjo, "2" %> 女
            </label>
                            
          </div>
          <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-3"></div>
      </div>
          <div class="form-group">
              <label for="birth" class="col col-xs-12 col-sm-4 col-md-3 control-label">生年月日</label>
              <div class="col col-xs-5 col-sm-3 col-md-3">
                <%= f.date_field :birth, class: 'form-control' %>
              </div>
              <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-3"></div>
          </div>
          <div class="form-group">
              <label for="image" class="col col-xs-12 col-sm-4 col-md-3 control-label">名刺</label>
              <div class="col col-xs-5 col-sm-3 col-md-3">
                  <%= image_tag @customer.image.url if @customer.image? %>
                  <%= f.file_field :image %>
              </div>
          <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-3"></div>
        </div>
        <div class="form-group">
          <label for="remark" class="col col-xs-12 col-sm-4 col-md-3 control-label">備考欄</label>
          <div class="col col-xs-12 col-sm-6 col-md-7">
            <%= f.text_area :remark, class: 'form-control' %>
          </div>
          <div class="col-xs-offset-0 col-sm-offset-2 col-md-offset-2"></div>
        </div>
        <div class="form-group">
          <div class="col col-xs-9 col-xs-offset-3 col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3">
            <%= f.submit class: "btn btn-success btn-lg" %>
          </div>
        </div>
      
    </fieldset>
    <% end %>
  </form>
</div>
<script type="text/javascript">
  jQuery(function($){
    // 郵便番号入力による住所自動入力
    $('#zipcode').change(function(){
      var zip = $(this).val();
      var url = 'http://api.zipaddress.net?callback=?';
      var query = {'zipcode': zip};
      $.getJSON(url, query, function(json){
        $('#pref').val(json.pref);
        $('#addr1').val(json.address);
      });
    });
  });
</script>
