<div class="well">
    <%= form_for(@order, html: { class: "form-horizontal" }) do |o| %>
    <fieldset>
      <legend>登録・編集</legend>
        <% if @order.errors.present? %>
           <%= alert %>
           <% @order.errors.full_messages.each do |full_message| %>
             <%= full_message %>
          <% end %>
        <% end %>
      <div class="form-group">
          <label for="ordername" class="col col-xs-12 col-sm-4 col-md-3 control-label">注文ID</label>
          <div class="col col-xs-5 col-sm-3 col-md-3">
            <%= o.text_field :orderid, class: 'form-control', placeholder: 'Z0320' %>
          </div>
          <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-3"></div>
      </div>
      <div class="form-group">
        <label for="customer_id" class="col col-xs-12 col-sm-4 col-md-3 control-label">顧客</label>
        <div class="col-xs-12 colcol-xs-10 col-sm-6 col-md-7">
          <div class="input-group">
            <%= o.collection_select :customer_id, Customer.all, :id, :name1, {prompt: true}, {class: "form-control"} %>
          </div>
        </div>
        <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-2"></div>
      </div>
      
      <div class="form-group">
          <label for="ordername" class="col col-xs-12 col-sm-4 col-md-3 control-label">注文名</label>
          <div class="col col-xs-5 col-sm-3 col-md-3">
            <%= o.text_field :ordername, class: 'form-control', placeholder: '20180120レイホープポロシャツ' %>
          </div>
          <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-3"></div>
      </div>
      
      <div class="form-group">
          <label for="firstorderdate" class="col col-xs-12 col-sm-4 col-md-3 control-label">お問合せ日</label>
          <div class="col col-xs-5 col-sm-3 col-md-3">
            <%= o.date_field :firstorderdate, class: 'form-control', placeholder: '20171205' %>
          </div>
          <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-3"></div>
      </div>
        <div class="form-group">
          <label for="startdate" class="col col-xs-12 col-sm-4 col-md-3 control-label">受注日</label>
          <div class="col col-xs-5 col-sm-3 col-md-3">
            <%= o.date_field :startdate, class: 'form-control', placeholder: '20171205' %>
          </div>
          <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-3"></div>
        </div>
      
      <div class="form-group">
        <label for="finishdate" class="col-xs-12 col col-sm-4 col-md-3 control-label">納品希望</label>
        <div class="col col-xs-5 col-sm-3 col-md-3">
          <%= o.date_field :finishdate, class: 'form-control', placeholder: '20171205' %>
        </div>
        <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-3"></div>
      </div>
      
      <div class="form-group">
        <label for="deliverymethod_id" class="col col-xs-12 col-sm-4 col-md-3 control-label">納品方法</label>
        <div class="col-xs-12 colcol-xs-10 col-sm-6 col-md-7">
          <div class="input-group">
            <%= o.collection_select :deliverymethod_id, Deliverymethod.all, :id, :name, {prompt: true}, {class: "form-control"} %>
          </div>
        </div>
        <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-2"></div>
      </div>
      
      <div class="form-group">
        <label for="collectionmethod_id" class="col col-xs-12 col-sm-4 col-md-3 control-label">回収方法</label>
        <div class="col-xs-12 colcol-xs-10 col-sm-6 col-md-7">
          <div class="input-group">
            <%= o.collection_select :collectionmethod_id, Collectionmethod.all, :id, :name, {prompt: true}, {class: "form-control"} %>
          </div>
        </div>
        <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-2"></div>
      </div>
      
      <div class="form-group">
          <label for="deliverydate" class="col col-xs-12 col-sm-4 col-md-3 control-label">納品予定日</label>
          <div class="col col-xs-5 col-sm-3 col-md-3">
            <%= o.date_field :deliverydate, class: 'form-control' %>
          </div>
          <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-3"></div>
      </div>
      
      <div class="form-group">
          <label for="collectiondate" class="col col-xs-12 col-sm-4 col-md-3 control-label">集金予定日</label>
          <div class="col col-xs-5 col-sm-3 col-md-3">
            <%= o.date_field :collectiondate, class: 'form-control' %>
          </div>
          <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-3"></div>
      </div>
          
          <div class="form-group">
              <label for="image" class="col col-xs-12 col-sm-4 col-md-3 control-label">イメージ</label>
              <div class="col col-xs-5 col-sm-3 col-md-3">
                  <%= image_tag @order.image.url if @order.image? %>
                  <%= o.file_field :image %>
              </div>
          <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-3"></div>
        </div>
        <div class="form-group">
          <label for="remark" class="col col-xs-12 col-sm-4 col-md-3 control-label">備考欄</label>
          <div class="col col-xs-12 col-sm-6 col-md-7">
            <%= o.text_area :remark, class: 'form-control' %>
          </div>
          <div class="col-xs-offset-0 col-sm-offset-2 col-md-offset-2"></div>
        </div>
        <div class="form-group">
          <div class="col col-xs-9 col-xs-offset-3 col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3">
            <%= o.submit class: "btn btn-success btn-lg" %>
          </div>
        </div>
      
    </fieldset>
    <% end %>
  </form>
</div>