<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>加工方法</h1>
  <br>
  <p><%= link_to "一覧に戻る", markmethods_path %></p>
  <br>
  （<%= link_to "編集する", edit_markmethod_path %>｜
<%= link_to "削除する", markmethod_path, method: :delete, data: { confirm: "本当によろしいですか？"} %>）

</section>

<section class="content">
  <div class="box">
    <div class="box-body">
　   
      <div class="form-group">
          <label for="id" class="col col-xs-12 col-sm-4 col-md-3 control-label">ID</label>
          <div class="col col-xs-5 col-sm-3 col-md-3">
            <%= @markmethod.id%>
          </div>
          <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-3"></div>
      </div>
      <br>
      
      <div class="form-group">
          <label for="name" class="col col-xs-12 col-sm-4 col-md-3 control-label">加工方法</label>
          <div class="col col-xs-5 col-sm-3 col-md-3">
            <%= @markmethod.name %>
          </div>
          <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-3"></div>
      </div>
      <br>
    </div>
  </div>    
</section>
