<section class="content-header">
  <h1>商品一覧</h1>
</section>

<section class="content">
  <div class="box">
    <div class="box-header">
      <%= link_to "新規登録", new_product_path %>
      <div class="box-tools">
        <!-- 検索 -->
      
      <!-- 検索end -->
      </div>
    </div><!-- /.box-header -->

<div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>メーカー</th>
            <th>商品型番</th>
            <th>商品名</th>
            <th>編集</th>
            <th>確認</th>
            <th>規格</th>
            <th>削除</th>
            <th>複製</th>
          </tr>
        </thead>
        <% @products.each do |product| %>
        <tr>
          <td>
            <%= product.maker.name %>
          </td>
          <td>
            <%= product.productid %>
          </td>
          <td><%= product.name %></td>
          <td><%= link_to "編集", edit_product_path(product) %></td>
          <td><%= link_to "確認", product_path(product) %></td>
          <td><%= link_to "規格", product_productdetails_path(product) %></td>
          <td><%= link_to "削除", product, method: :delete, data: {confirm: '削除してもいいですか？'} %></td>
          <td><%= link_to "複製", new_product_path(copy_id: product.id) %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div><!-- /.box -->
</section>
