<section class="content-header">
  <h1>外注先一覧</h1>
</section>
<section class="content">
<%= link_to "新規登録", new_outsourcing_path(@outsourcing) %>
<div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>No</th>
            <th>会社名</th>
            <th>県名</th>
            <th>電話番号</th>
            
            <th>ファックス番号</th>
            <th>メール</th>
          </tr>
        </thead>
        <% @outsourcings.each do |outsourcing| %>
        <tr>
          <td>
            <%= outsourcing.id %>
          </td>
          <td><%= link_to outsourcing.name, outsourcing_path(outsourcing) %></td>
          <td><%= outsourcing.prefecture_id %></td>
          <td><%= outsourcing.tel %></td>
          <td><%= outsourcing.fax %></td>
          <td><%= outsourcing.inchargemail %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div><!-- /.box -->
</section>
