<div class="well">
    <%= form_for(@productdetail, html: { class: "form-horizontal" }) do |f| %>
    <fieldset>
      <legend>登録・編集</legend>
        <% if @productdetail.errors.present? %>
           <%= alert %>
           <% @productdetail.errors.full_messages.each do |full_message| %>
             <%= full_message %>
          <% end %>
        <% end %>
        
      <div class="form-group">
          <label for="product_id" class="col col-xs-12 col-sm-4 col-md-3 control-label">商品ID</label>
          <div class="col col-xs-5 col-sm-3 col-md-3">
            <%= f.text_field :product_id, class: 'form-control', placeholder: '会社名またはグループ名' %>
          </div>
          <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-3"></div>
        </div>
        <div class="form-group">
          <label for="colorcode" class="col col-xs-12 col-sm-4 col-md-3 control-label">お名前</label>
          <div class="col col-xs-5 col-sm-3 col-md-3">
            <%= f.text_field :colorcode, class: 'form-control', placeholder: '姓' %>
          </div>
          <div class="col col-xs-5 col-sm-3 col-md-3">
            <%= f.text_field :colorname, class: 'form-control', placeholder: '名' %>
          </div>
          <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-3"></div>
        </div>
      
      <div class="form-group">
        <label for="kana" class="col-xs-12 col col-sm-4 col-md-3 control-label">お名前（フリガナ）</label>
        <div class="col col-xs-5 col-sm-3 col-md-3">
          <%= f.text_field :sizecode, class: 'form-control', placeholder: 'セイ' %>
        </div>
        <div class="col col-xs-5 col-sm-3 col-md-3">
          <%= f.text_field :sizename, class: 'form-control', placeholder: 'メイ' %>
        </div>
        <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-3"></div>
      </div>
      
      
      <div class="form-group">
        <label for="tel" class="col col-xs-12 col-sm-4 col-md-3 control-label">電話番号</label>
        <div class="col-xs-12 col col-xs-10 col-sm-6 col-md-7">
          <div class="input-group">
            <%= f.text_field :vprice, class: 'form-control', placeholder: '0775227666' %>
          </div>
        </div>
        <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-2"></div>
      </div>
      <div class="form-group">
          <label for="tel" class="col col-xs-12 col-sm-4 col-md-3 control-label">携帯電話</label>
          <div class="col col-xs-12 col-xs-10 col-sm-6 col-md-7">
              <div class="input-group">
                  <%= f.text_field :wprice, class: 'form-control', placeholder: '08012345678' %>
                  <p class="help-block">（例:08012345678）</p>
              </div>
          </div>
          <div class="col-xs-offset-0 col-sm-offset-2 col-md-offset-2"></div>
        </div>
        <div class="form-group">
          <label for="tel" class="col col-xs-12 col-sm-4 col-md-3 control-label">FAX番号</label>
          <div class="col col-xs-12 col-xs-10 col-sm-6 col-md-7">
              <div class="input-group">
                  <%= f.text_field :price, class: 'form-control', placeholder: '0771235678' %>
                  <p class="help-block">（例:07712345678）</p>
              </div>
          </div>
          <div class="col-xs-offset-0 col-sm-offset-2 col-md-offset-2"></div>
        </div>
      <div class="form-group">
        <label for="email" class="col col-xs-12 col-sm-4 col-md-3 control-label">メールアドレス</label>
        <div class="col col-xs-12 col-sm-6 col-md-7">
            <%= f.text_field :stock, class: 'form-control', placeholder: 'メールアドレスを入力してください' %>
        </div>
        <div class="col-xs-offset-0 col-sm-offset-2 col-md-offset-2"></div>
      </div>
        <div class="form-group">
          <div class="col col-xs-9 col-xs-offset-3 col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3">
            <%= f.submit class: "btn btn-success btn-lg" %>
          </div>
        </div>
      
    </fieldset>
    <% end %>
  </form>
</div>
