<section class="content-header">
  <h1>商品詳細一覧</h1>
</section>

<section class="content">
  <div class="box">
    <div class="box-header">
      <% if @product.productpic? %>
　　    <%= image_tag @product.productpic.thumb.url %>
　    <% else %>
　　    <%= image_tag 'noimage.gif' %>
　    <% end %>
      商品名: <%= @product.name %>
      
      <div class="box-tools">
        <!-- 検索 -->
      
      <!-- 検索end -->
      </div>
    </div><!-- /.box-header -->
<%= link_to "新規登録", new_product_productdetail_path(@product) %>
<div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>詳細ID</th>
            <th>カラー</th>
            <th>サイズ</th>
            <th>定価</th>
            <th>仕入価格</th>
            <th>編集</th>
            <th>確認</th>
            <th>削除</th>
            <th>複製</th>
          </tr>
        </thead>
        <% @productdetails.each do |productdetail| %>
        <tr>
          <td>
            <%= productdetail.id %>
          </td>
          <td><%= productdetail.colorname %></td>
          <td><%= productdetail.sizename %></td>
          <td><%= productdetail.vprice %></td>
          <td><%= productdetail.price %></td>
          <td><%= link_to "編集", edit_productdetail_path(productdetail) %></td>
          <td><%= link_to "確認", productdetail_path(productdetail) %></td>
          <td><%= link_to "削除", productdetail, method: :delete, data: {confirm: '削除してもいいですか？'} %></td>
          <td><%= link_to "複製", productdetail_path(productdetail) %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div><!-- /.box -->
</section>
