<script type="text/javascript">
	$(function(){
		$('#productchange').change(function(){
			alert('changed!');
			/*
			$('').load(''), function(){
			   $('').xxx('')
			});
			*/
		});	
	});
	
</script>

<section class="content">
<div class="total">

<div class="main">
	<h2 class="order-top">受注書</h2>
	<span class="order-number">受注番号：</span><span class="order-number"><%= @order.orderid %></span><br>
	<span class="order-number">顧客番号：</span><span class="order-number"><%= @order.customer_id %></span><br>
    <span class="order-number">注文名：</span><span class="order-number"><%= @order.ordername %></span>
	<div class="main-box1">
		<ul>
			<li>
				<p>顧客名</p>
				<p><%= @order.customer.groupcus %></p>
			</li>
			<li>
				<p>住所</p>
				<p>〒<%= @order.customer.zip %><%= @order.customer.address1 %><%= @order.customer.address2 %><%= @order.customer.address3 %></p>
			</li>
			<li>
				<p>Mail</p>
				<p><%= @order.customer.email %></p>
			</li>
		</ul>
		<ul>
			<li><p>
				担当者
			</p>
			<p><%= @order.customer.name1 %><%= @order.customer.name2 %>
			</p>
			</li>
			<li>
				<p>TEL</P>
			<p><%= @order.customer.tel1 %></P>
			</li>
			<li>
				<p>FAX</p>
				<p><%= @order.customer.fax %></p>
			</li>
		</ul>
	</div>
	<div class="main-box2">
		<ul>
			<li class="size6">お問合せ</li>
			<li class="size7"><%= @order.firstorderdate %></li>
			<li class="size6">受注日</li>
			<li class="size7"><%= @order.startdate %></li>
			<li class="size6">納品予定日</li>
			<li class="size7"><%= @order.deliverydate %></li>
			<li class="size6">集金日</li>
			<li class="size7"><%= @order.collectiondate %></li>
		</ul>
	</div>
	<div class="main-box3">
		<ul>
			<li class="size1">納品方法</li>
			<li class="size3"><%= @order.deliverymethod.name %></li>
			<li class="size1">集金方法</li>
			<li class="size3"><%= @order.collectionmethod.name %></li>
		</ul>
	</div>

<% @order = nil if not @custompattern.new_record? %>

<%= form_for([@order, @custompattern], html: { class: "form-horizontal" }) do |cp| %>
	<div class="main-box4">
		<div class="main-box4-left">
				<div class="top">
				<table>
					<tr>
						<td class="size1 blue-text">
							
						</td>
						<td colspan="4">
							<%= cp.collection_select :product_id, Product.all, :id, :productid, {prompt: true}, {class: "form-control", :id => "productchange"} %>
						</td>
					</tr>
					<%= cp.fields_for :orderdetails do |orderdetail_form| %>
					<tr>
						<td class="size1">
							
						</td>
						<td class="size2">
							<%= orderdetail_form.collection_select :productdetail_id, Productdetail.all, :id, :view_color_and_size, {prompt: true}, {class: "form-control"} %>
						</td>
						<td class="size5">
							<%= orderdetail_form.text_field :orderamount %>
						</td>
						<td class="size5">
        					<%= orderdetail_form.label :_destroy do %>
        					    <%= orderdetail_form.check_box :_destroy %> 削除
        					<% end %>    
						</td>
						<td>
							
						</td>
					</tr>
					
					<% end %>
				</table>
				
			</div>
			<div class="bottom">
				<table>
					<tr>
						<td class="size1">
							加工会社
						</td>
						<td class="size2">
							加工場所
						</td>
						<td class="size2">
							加工方法
						</td>
						<td>
							カラー
						</td>
						<td>
							
						</td>
					</tr>
					<%= cp.fields_for :markorders do |markorder_form| %>	
					<tr>
						<td class="size1">
							<%= markorder_form.collection_select :outsourcing_id, Outsourcing.all, :id, :name, {prompt: true}, {class: "form-control"} %>
						</td>
						<td class="size2">
							<%= markorder_form.collection_select :markpoint_id, Markpoint.all, :id, :name, {prompt: true}, {class: "form-control"} %>
						</td>
						<td class="size2">
							<%= markorder_form.collection_select :markmethod_id, Markmethod.all, :id, :name, {prompt: true}, {class: "form-control"} %>
						</td>
						<td>
							<%= markorder_form.text_field :markcolor %>
						</td>
						<td>
							<%= markorder_form.label :_destroy do %>
        					    <%= markorder_form.check_box :_destroy %> 削除
        					<% end %>
						</td>
					</tr>
					<% end %>
				</table>
				<p class="blue-text right-postion">
					+加工追加
				</p>
		<%= image_tag @custompattern.custompatternimage.url if @custompattern.custompatternimage? %>
        <%= cp.file_field :custompatternimage %>
			</div>
		</div>
		<div class="main-box4-right">
		
			
		</div>
		
	</div>

	<div class="main-box7"><p class="option"><%= cp.submit class: "btn btn-success btn-lg" %></p></div>
	<div class="main-box7"></div>
	<% end %>
</div>
	</div>
</section>

