<!DOCTYPE html>
<html>

<head>
  <title>Rayhope</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.3/css/AdminLTE.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.3/css/skins/_all-skins.min.css">
  <%= csrf_meta_tags %>
</head>

<body class="skin-green sidebar-mini">
<% if logged_in? %>
<div class="wrapper">

<!-- ヘッダー -->
<header class="main-header navbar navbar-fixed-top navbar-inverse">
  <a href="/" class="logo">
    <span class="logo-mini">
      <b>R</b>
    </span>
    <span class="logo-lg"><b>Ray</b>hope</span> 
  </a>
  <nav class="navbar navbar-static-top" role="navigation">
    <a class="sidebar-toggle" href="#" data-toggle="offcanvas" role="button"></a>

    <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
          <li>
            <%= link_to "Log out", logout_path, method: "delete" %>
          </li>
        <% end %>
      </ul>
    
  </nav>
</header>

<!-- サイドメニュー -->
<aside class="main-sidebar">
  <section class="sidebar">
    
    <!-- ログイン中の表示 -->
    <ul class="sidebar-menu">
      <li class="header">メニュー</li>
      
      <li class="treeview">
        <%= link_to(products_path) do %>
          <i class="fa fa-circle-o text-danger"></i>
          <span>商品登録</span>
        <% end %>
      </li>
      <li class="treeview">
       
          <i class="fa fa-circle-o text-danger"></i>
          <span>加工価格表</span>
        
      </li>
      <li class="treeview">
       
          <i class="fa fa-circle-o text-danger"></i>
          <span>画像（家紋集）</span>
        
      </li>
      <li class="treeview">
        
          <i class="fa fa-circle-o text-danger"></i>
          <span>写真集（過去実績）</span>
       
      </li>
      
    </ul>
    <ul class="sidebar-menu">
     <li class="header">管理者メニュー</li>
      <li class="treeview">
        <%= link_to(customers_path) do %>
          <i class="fa fa-circle-o text-info"></i>
           <span>顧客管理</span>
        <% end %>
      </li>
      <li class="treeview">
        
          <i class="fa fa-circle-o text-warning"></i>
          <span>注文管理</span>
        
      </li>
      <li class="treeview">
        
          <i class="fa fa-circle-o text-danger"></i>
          <span>売上管理</span>
        
      </li>
     <li class="treeview">
        <%= link_to(users_path) do %>
          <i class="fa fa-circle-o text-danger"></i>
          <span>管理者一覧</span>
        <% end %>
      </li>
      <li class="treeview">
        
          <i class="fa fa-circle-o text-danger"></i>
          <span>プロジェクト</span>
        
      </li>
      <li class="treeview">
        
          <i class="fa fa-circle-o text-danger"></i>
          <span>ノート</span>
       
      </li>
      
      <li class="treeview">
        
          <i class="fa fa-circle-o text-danger"></i>
          <span>画像</span>
        
      </li>
      <li class="treeview">
        
          <i class="fa fa-circle-o text-danger"></i>
          <span></span>
        
      </li>
      <li class="treeview">
       
          <i class="fa fa-circle-o text-danger"></i>
          <span></span>
        
      </li>
    </ul>
    
  </section>
</aside>

<!-- コンテンツ -->
<div class="content-wrapper">
  <% if notice %>
    <%= notice %>
  <% end %>
  <% flash.each do |message_type, message| %> <!-- ここから -->
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %> <!-- ここまで追加 -->

  <%= yield %>
</div>  

</div><!-- /.wrapper -->

<% else %>
    <!-- ログアウト中の表示 -->
    <header class="main-header navbar navbar-fixed-top navbar-inverse">
      <a href="/" class="logo">
        <span class="logo-mini">
          <b>R</b>
        </span>
        <span class="logo-lg"><b>Ray</b>hope</span> 
      </a>
    </header>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>Log in</h1>
        <%= form_for(:session, url: login_path) do |f| %>
    
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
    
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
          <br>
          <%= f.submit "Log in", class: "btn btn-primary" %>
        <% end %>
        <br>
      </div>
      
      <div class="row">
  <div class="col-md-6 col-md-offset-3">
<h1>Sign up</h1>
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
        
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>
        
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
        
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
        <br>
        <%= f.submit "Create my account", class: "btn btn-primary" %>
    
    <% end %>
    </div>
</div>
      
    </div>
<% end %>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.3/js/app.min.js"></script>

</body>
</html>